extends ../layouts/common

block content
    h1 Sign up

    form(action="/auth/signup", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="email") Email
            input#email.form-control(name="email", type="text")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name", type="text")
        .form-group
            label(for="phone") Phone
            input#phone.form-control(name="phone", type="text")
        .form-group
            label(for="password") Password
            input#password.form-control(name="password", type="password")
        .form-group
            label(for="avatar") Avatar
            input#avatar.form-control-file(name="avatar", type="file")
        button.btn.btn-primary Sign In