extends ./layouts/common

block content
    div(class="container")
        div(class="row")
            div(class="col-sm-6 col-md-4 p-4")
                div(class="d-flex align-items-center flex-column flex-md-row")
                    img(src="/public/images/logo.jpg", width="70", height="70", class="rounded-circle")
                    div(class="ml-4 text-center")
                        h1 #{name}
                        a(href="/users") UserList
            div(class="col-sm-6 col-md-4 p-4")
                div(class="d-flex align-items-center flex-column flex-md-row")
                    img(src="/public/images/logo.jpg", width="70", height="70", class="rounded-circle")
                    div(class="ml-4 text-center")
                        h1 #{name}
                        a(href="/users") UserList
            div(class="col-sm-6 col-md-4 p-4")
                div(class="d-flex align-items-center flex-column flex-md-row")
                    img(src="/public/images/logo.jpg", width="70", height="70", class="rounded-circle")
                    div(class="ml-4 text-center")
                        h1 #{name}
                        a(href="/users") UserList

                        