extends ./layouts/common

block content
        .row
            .col-sm-6.col-md-4.p-4
                .d-flex.align-items-center.flex-column.flex-md-row
                    img.rounded-circle(src="/public/images/logo.jpg", width="70", height="70")
                    div.ml-4.text-center
                        h1 #{name}
                        a(href="/users") UserList
            .col-sm-6.col-md-4.p-4
                .d-flex.align-items-center.flex-column.flex-md-row
                    img.rounded-circle(src="/public/images/logo.jpg", width="70", height="70")
                    div.ml-4.text-center
                        h1 #{name}
                        a(href="/users") UserList
            .col-sm-6.col-md-4.p-4
                .d-flex.align-items-center.flex-column.flex-md-row
                    img.rounded-circle(src="/public/images/logo.jpg", width="70", height="70")
                    div.ml-4.text-center
                        h1 #{name}
                        a(href="/users") UserList
            

                        